Repository FIS2425/alert-svc, pull requests merged in 2024-12, with the labels that each got.

#7 Feat: Circuit breaker pattern
  openapi.yaml
  package-lock.json
  package.json
  src/config/index.js
  src/controllers/alertController.js
  src/utils/kafkaTransport.js
  tests/unit/controllers/alert.test.js
  tests/unit/controllers/dummy
Labels: 😎 size/m, 🧪 Tests, 📦 Dependencies

#9 Fix tests
  tests/unit/controllers/alert.test.js
Labels: 🧪 Tests, size/xs

#8 Release v1.0.0
  .env.example
  .github/CODEOWNERS
  .github/workflows/docker-deploy.yml
  .github/workflows/trigger-api-sync.yml
  Dockerfile
  docker-compose.yml
  openapi.yaml
  package-lock.json
  package.json
  src/api.js
  src/config/index.js
  src/controllers/alertController.js
  src/controllers/templateController.js
  src/routes/alertRoute.js
  src/routes/templateRoute.js
  src/utils/kafkaTransport.js
  tests/unit/controllers/alert.test.js
  tests/unit/controllers/dummy
Labels: 🏠 Github Configuration, 😎 size/m, ⚙️ Configuration, 🧪 Tests, 📦 Dependencies, 🚀 CI/CD, 🐳 Build
